services:
  localstack:
    image: localstack/localstack:3.0.2
    container_name: localstack
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
    healthcheck:
      test: ['CMD', 'curl', 'localhost:4566']
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

  redis:
    image: redis:7.2.3-alpine3.18
    ports:
      - '6379:6379'
    restart: always
    networks:
      - cdp-tenant

  farming-grants-agreements-pdf:
    build:
      context: .
      target: development
    ports:
      - '3556:3556'
    links:
      - 'localstack:localstack'
    depends_on:
      localstack:
        condition: service_healthy
    env_file:
      - 'compose/aws.env'
    environment:
      PORT: 3556
      NODE_ENV: development
      LOCALSTACK_ENDPOINT: http://localstack:4566
      SNS_ENDPOINT: http://localstack:4566
      SQS_ENDPOINT: http://localstack:4566
      QUEUE_URL: http://localstack:4566/000000000000/create_agreement_pdf
      QUEUE_NAME: create_agreement_pdf
      S3_BUCKET: farming-grants-agreements-pdf-bucket
      S3_ENDPOINT: http://localhost:4566
      FILES_S3_SHORT_TERM_PREFIX: ${FILES_S3_SHORT_TERM_PREFIX:-agreements_10}
      FILES_S3_MEDIUM_TERM_PREFIX: ${FILES_S3_MEDIUM_TERM_PREFIX:-agreements_15}
      FILES_S3_LONG_TERM_PREFIX: ${FILES_S3_LONG_TERM_PREFIX:-agreements_20}
      JWT_ENABLED: ${JWT_ENABLED:-false}
    networks:
      - cdp-tenant
    volumes:
      - ./src:/home/node/src
      - ./package.json:/home/node/package.json

################################################################################

networks:
  cdp-tenant:
    driver: bridge
    name: cdp-tenant
